<div ng-controller="ListCtrl">
    <h1>ALL CALLS</h1>
    <ul class="calls">
      <li>
        <span></span>
        <span></span>
        <span>start time</span>
        <span>elapsed time</span>
        <span>end time</span>
      </li>
      <li ng-repeat="call in calls">
        <span>#{{call.id}}</span> 
        <span><img src={{statusChanger(call)}}></span> 
        <span>{{call.startTime}}</span> 
        <span>{{call.elapsedTime}}</span> 
        <span>{{call.endTime}}</span>
      </li>
    </ul>
</div>
