<div ng-controller="ListCtrl">
    <h1>ALL CALLS</h1>
    <select ng-model="sortUserId" ng-options="call.userId for call in calls | unique: 'userId'"></select>
    <table id="selectedItem">
      <tr><th>User id</th></tr>
    </table>
    <ul class="calls" ng-if="calls.length">
      <li>
        <span class="call-id"></span>
        <span class="call-status"></span>
        <span class="start-time">start time</span>
        <span class="ellapsed-time">elapsed time</span>
        <span class="end-time"></span>
        <span class="source-number">source</span>
        <span class="destination-number">destination</span>
        <span class="user-Id">user id</span>
        <span class="gateway-call">gateway</span>
      </li>
      <li ng-repeat="call in calls | filter: {userId: sortUserId}">
        <span class="call-id">#{{call.id}}</span>
        <span class="call-status"><img width="24" ng-src={{statusChanger(call)}}></span>
        <span class="start-time">{{dateFormatter(call.startTime)}}</span>
        <span class="ellapsed-time">{{timeFormatter(call.elapsedTime)}}</span>
        <span class="end-time">{{dateFormatter(call.endTime)}}</span>
        <span class="source-number">{{call.source}}</span>
        <span class="destination-number">{{call.destination}}</span>
        <span class="user-Id">{{call.userId}}</span>
        <span class="gateway-call">{{call.gateway}}</span>
      </li>
    </ul>
    <div ng-if="calls.length === 0">No calls received yet<div>
</div>
