<!DOCTYPE html>
<html ng-app="UHU">
<head>
  <meta charset="utf-8">
  <title>UHU-PROJECT</title>
  <link rel="stylesheet" href="./style/UHU-style.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <script src="./app/js/angular.min.js"></script>
  <script src="./app/js/angular-ui-router.min.js"></script>
  <script src="./app/UHU.js"></script>
  <script src="./app/js/moment-with-locales.min.js"></script>
  <script>moment().format();</script>
  <script src="./app/controllers/listController.js"></script>
</head>
<body ng-controller="MainController">
  <div class="header">
    <img class="header-logo" src="images/calgo.png" alt="UHU Calgo Logo">
    <ul class="main-menu">
      <li><a href="" ui-sref="all">ALL CALLS</a></li>
      <li><a href="" ui-sref="past">PAST CALLS</a></li>
      <li><a href="" ui-sref="ongoing">ONGOING CALLS</a></li>
    </ul>
    <div class="devider"></div>
  </div>
  <div class="allviews" ui-view></div>
</body>
</html>
