<!DOCTYPE html>
<html ng-app="UHU">
<head>
  <meta charset="utf-8">
  <title>UHU-PROJECT</title>
  <link rel="stylesheet" href="../style/UHU-header.css">
  <link rel="stylesheet" href="../style/UHU-views.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <script src="../app/bundle.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <base href="/" />
</head>
<body ng-controller="MainController">
  <div class="header">
    <img class="header-logo" src="images/calgo.png" alt="UHU Calgo Logo" ng-click="addNewCall({                   status: 'incoming',
              callbegin : '',
              elapsedTime: 0,
              source: 555-777-5,
              destination: 888-999-0,
              userId: '2',
              gateway: 'Westel',
              callid: 6})">
    <ul class="main-menu">
      <li><a href="" ui-sref="all" ui-sref-active="selected-route">ALL CALLS</a></li>
      <li><a href="" ui-sref="ongoing" ui-sref-active="selected-route">ONGOING CALLS</a></li>
      <li><a href="" ui-sref="incoming" ui-sref-active="selected-route">INCOMING CALLS</a></li>
      <li><a href="" ui-sref="past" ui-sref-active="selected-route">PAST CALLS</a></li>
      <li><a href="" ui-sref="stats" ui-sref-active="selected-route">STATS</a></li>
    </ul>
    <div class="devider"></div>
  </div>
  <div class="allviews" ui-view></div>
</body>
</html>
