<div ng-controller="chartCtrl">
<canvas id="line" class="chart chart-line" chart-data="chartdata"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" chart-type="type" height="400" width="600" >
</canvas>
</div>
<form name="myForm" ng-controller="chartCtrl">
  <label>Incoming Calls:
    <input type="checkbox" ng-model="checkboxModel.value1">
  </label><br/>
  <label>Ended calls:
    <input type="checkbox" ng-model="checkboxModel.value2">
  </label><br/>   </label><br/>
 </form>
