body {
  color: #4A4A4A;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  text-align: center; }

.header {
  border-bottom: 8px solid #8DC640;
  min-height: 90px;
  max-height: auto;
  font-weight: bold;
  left: 0px;
  min-width: 100%;
  margin: 0px auto;
  position: fixed;
  top: 0px; }

.main-menu a {
  color: #4A4A4A;
  display: inline-block;
  margin: 20px 20px 0 20px;
  text-decoration: none;
  width: auto; }

.main-menu li {
  display: inline-block; }

.main-menu {
  display: inline-block;
  font-size: 16px;
  list-style-type: none;
  margin-left: 90px;
  margin-right: 20px;
  position: fixed;
  right: 10px; }

.header-logo {
  display: inline-block;
  margin: 20px auto;
  margin-left: 20px;
  position: fixed;
  left: 10px; }

.views {
  margin: 0 auto;
  position: fixed;
  text-align: center;
  top: 130px; }

.calls {
  color: green; }

.calls li {
  list-style-type: none; }

.calls li span {
  text-align: left; }
