body 
  color: #4A4A4A
  font-family: 'Lato', sans-serif
  margin: 0 auto
  text-align: center
  
  a
    display: inline-block
    margin: 0 0 0 30px
    text-decoration: none
    width: 130px
      
.header-menu
  height: 90px
  font-weight: bold
  left: 0px
  margin: 0px auto
  position: fixed
  top: 0px 
  
.main-menu
  display: inline-block
  font-size: 16px
  margin-left: 90px
  margin-top: 35px
  margin-right: 20px
  margin-bottom: 35px
  position: fixed
  right: 10px
  top: 0px
   
.header-logo
  display: inline-block
  margin: 20px auto
  margin-left: 20px
  position: fixed

  
.devider
  background-color: #8DC640
  height: 8px
  position: fixed
  top: 90px
  width: 100%

  
.views
  position: fixed
  text-align: center
  top: 130px
  