body 
  color: #4A4A4A
  font-family: 'Lato', sans-serif
  text-align: center
  
  a
    text-decoration: none
    
.header-menu
  font-weight: bold
  position: absulute
   
.header-logo
  left: 10px
  
.devider
  background-color: #8DC640
  height: 5px