<div>
<ul class="calls" ng-if="calls.length">
  <li>
    <span ng-click="orderer='id'" ng-class="{active: orderer==='id'}" class="call-id" ng-init="orderer='id'">id</span>
    <span ng-click="orderer='status'" ng-class="{active: orderer==='status'}" class="call-status">status</span>
    <span ng-click="orderer='startTime'" ng-class="{active: orderer==='startTime'}" class="start-time">start time</span>
    <span ng-click="orderer='ringingTime'" ng-class="{active: orderer==='ringingTime'}"class="ringing-time">ringing time</span>
    <span ng-click="orderer='elapsedTime'" ng-class="{active: orderer==='elapsedTime'}" class="elapsed-time">elapsed time</span>
    <span ng-click="orderer='endTime'" ng-class="{active: orderer==='endTime'}" class="end-time">end time</span>
    <span ng-click="orderer='source'" ng-class="{active: orderer==='source'}" class="source-number">source</span>
    <span ng-click="orderer='destination'" ng-class="{active: orderer==='destination'}" class="destination-number">destination</span>
    <span ng-click="orderer='userId'" ng-class="{active: orderer==='userId'}" class="user-Id">user id</span>
    <span ng-click="orderer='gateway'" ng-class="{active: orderer==='gateway'}" class="gateway-call">gateway</span>
  </li>
  <call ng-repeat="call in calls | filter: callFilter | orderBy: orderer" call="call"></call>
</ul>
<div ng-if="calls.length === 0">No calls received yet<div>
</div>
