<li>
  <span class="call-id">#{{call.id}}</span>
  <span class="call-status"><img width="24" ng-src={{statusChanger(call)}}></span>
  <span class="start-time">{{call.startTime}}</span>
  <span class="ellapsed-time">{{call.elapsedTime}}</span>
  <span class="ringing-time">{{call.ringingTime}}</span>
  <span class="end-time">{{call.endTime}}</span>
  <span class="source-number">{{call.source}}</span>
  <span class="destination-number">{{call.destination}}</span>
  <span class="user-Id">{{call.userId}}</span>
  <span class="gateway-call">{{call.gateway}}</span>
</li>
